@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {


    .bg-transparent {
        background-color: transparent;
    }
    .bg-scrolled {
       @apply bg-black opacity-90; /* Example color when scrolled */
    }

    .parallax {
    background-attachment: fixed;
    }

    h1 {
        @apply text-7xl mb-4 text-purple-700;
    }


    h2 {
        @apply text-5xl mt-4;
}


.light_text_center {
    @apply relative z-0 bg-center flex items-center justify-center;
}

.light_text_right {
    @apply relative z-0 bg-right flex items-center justify-center xl:items-center xl:justify-end;
}

.light_text_left {
    @apply relative z-0 bg-left flex items-center justify-center xl:items-center xl:justify-start;
}

.dark_text_left {
    @apply relative z-0 bg-left flex items-center justify-center xl:items-center xl:justify-start;
}

.dark_text_center {
    @apply relative z-0 bg-center flex items-center justify-center;
}

.dark_text_right {
    @apply relative z-0 bg-right flex items-center justify-center xl:items-center xl:justify-end;
}


.image_left_text_right {
   
}

.image_right_text_left {
   
}





.bg-transparent {
    background-color: transparent;
}
.bg-scrolled {
    @apply bg-black opacity-90; /* Example color when scrolled */
}


}
